.lbl-error {
    background-color: #FFCCCC; /* Fondo rojo suave */
    border: 2px solid #8B0000; /* Borde rojo oscuro de 2px */
    padding: 5px; /* Añadir un espacio alrededor del contenido del label */
    display: inline-block; /* Para que el tamaño del label se ajuste automáticamente al contenido */
    border-radius: 5px; /* Para suavizar los bordes del borde */
}
